@import "./variables.scss";

.navbar {
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        p {
            text-decoration: none;
            color: white;
            display: block;
            font-size: large;
            padding: 2rem 5rem;
            transition: 200ms linear;
        }

        :hover {
            background-color: lighten($color: $primaryColor, $amount: 10)
        }
    }
}

.activeRoute {
    border-bottom: 2px solid yellow;
}
